
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 bg-danger m-4 p-3 text-center text-white" ><h4>COVID-19</h4></div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        
        <div class="cols-sm-3">
            <div><a routerLink="state"><button class="btn btn-primary m-3 p-3">click here to covid-19 In India</button></a></div>
        </div>
        <div class="cols-sm-9">
            
            <router-outlet></router-outlet>
        </div>
    </div>
</div> 
